{% extends 'base.twig' %}

{% block body %}
<h3 class="title mt-3 mb-3">Последние публикации</h3>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% include 'section/posts.twig' with posts %}
            <div class="row">
                <a class="p-0 mb-2" href="{{ url('blog') }}"><button type="button" class="btn btn-outline-primary">Все публикации</button></a>
            </div>
        </div>
        <div class="col-md-3">
            {% include 'section/about.twig' %}
        </div>
    </div>
</div>
{% endblock %}